body{
    margin: 0;
    padding: 0;
    background: black;
    overflow-x: hidden;
    height: 100% !important;
    padding-bottom: 300px;  
    
}
/* NavBar Start*/
#navbar a{
    position: relative;
    
    font-size: 2.35vh;
    padding-right: 10%;
    font-weight: 500;
    color: #5e2802;
    
}
.nav-item{
    padding-left: 3rem;
}



#navbar{
    height: 800px;
    width: 100%;
    background-color: #0E1E38;
    background-color: #EEEBE2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%230E1E38' stroke-width='3'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%235E2A03'%3E%3Ccircle cx='769' cy='229' r='7'/%3E%3Ccircle cx='539' cy='269' r='7'/%3E%3Ccircle cx='603' cy='493' r='7'/%3E%3Ccircle cx='731' cy='737' r='7'/%3E%3Ccircle cx='520' cy='660' r='7'/%3E%3Ccircle cx='309' cy='538' r='7'/%3E%3Ccircle cx='295' cy='764' r='7'/%3E%3Ccircle cx='40' cy='599' r='7'/%3E%3Ccircle cx='102' cy='382' r='7'/%3E%3Ccircle cx='127' cy='80' r='7'/%3E%3Ccircle cx='370' cy='105' r='7'/%3E%3Ccircle cx='578' cy='42' r='7'/%3E%3Ccircle cx='237' cy='261' r='7'/%3E%3Ccircle cx='390' cy='382' r='7'/%3E%3C/g%3E%3C/svg%3E");    
    background-attachment: fixed;
    background-size: cover;
}



span{
    /*chnage to only above 768px latr*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center  ;
    font-size: xx-large;
}


.nav-link{
    color:#5e2802 ;
}

.nav-title{
    color: #0E1E38;
    font-size: 10rem;
    text-shadow: 2px 2px 8px #EEEBE2;
    top: 25vh;
    width: 100%;
    left: 30%;

}



/* NavBar End*/



/*CLUB INFO START*/

#clubInfo{
    
    padding-top: 50px;
    
    width: 100%;
}

#clubInfo h1{
    text-align: center;
    padding-left: 20px;
    color: red;
}
#clubInfo #col{
    padding-top: 50px;
    height: 300px;
    width: 100%;
    
}
#clubInfo #col2{
    background-image: linear-gradient(to right,black, red);
    padding-top: 50px;
    
    text-align: center;
    height: auto;
    width: auto;
    border-style: solid;
    border-width: 10px;
    border-radius: 5px;
    margin:50px;
    
    
}
#clubInfo #col2:hover{
    transition: all ease-in-out 250ms;
    background-image: radial-gradient(black, red);
    transform: scale(1.1);
}

#clubInfo h3{
    
   color: white;
   text-align: center;
   font-family:'Times New Roman', Times, serif;
}
#clubInfo h4{
    color: rgb(82, 74, 74);
    text-align: center;
 }
#clubInfo p{
    padding-top: 30px;
   padding-left: 20px;
   padding-right: 20px;
    color: white;
    text-align: center;
    
 }


/*CLUB INFO END*/


/*SHOP Start*/
#shop{
    height: 400px;
    width: 100%;
    padding-bottom: 100px;
}
#shop h1{
    padding-top: 20px;
    text-align: center;
    color: red;
}

 #shop .img1{ 
    padding-left: 20px;
    padding-right: 20px;
    content:" ";
    height: 500px;
    width: auto;
    border-radius: 30px;
    border-top : 5px  solid white;
    border-bottom : 5px  solid white;
    border-left : 5px  solid white;
    border-right : 5px  solid white;
    background-color: darkgray;
    background-image: url('VG-Front.png') ;
    background-size: contain;
    align-items: center;
    background-repeat: no-repeat;
    transition: all ease-in-out 250ms;
    background-position: center center;
    
}

#shop .img1:hover{
    background-image: url('VG-Back.png') ;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    background-position: center center;
}


.shopIMG{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

h1{
    font-size: 2rem !important;
    text-align: left !important;
    padding-left: 2rem !important;
}

/*SHOP END*/

/* ROSTER START*/

.roster {
    
  width: 100%
  
}

/*ROSTER IMG*/
#introIMG img{
  
    width: 100%;
    
    height: 900px;

}
.img11{
    margin-left: 5%;
    margin-right: 5%;
}

.roster1{
    min-height: 400px;
    
    margin-left: 10%;
    margin-right: 10%;
    
    /*background-image: url(fortnite.jpg);*/
    position: relative;
    content: " ";
    background-color: black;
    background: url(fortnite\ -\ Copy.jpg);
    transition: step-end;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px 5px 5px 5px ;
    border-color: white;
    
    
 transition: ease-out;
  transition-duration: 250ms;
  transition-delay: 50ms;
  
}

.roster1:hover{
    min-height: 400px;
    
    margin-left: 10%;
    margin-right: 10%;
    background-image: url(fortnite.jpg);
    
    filter: grayscale(70%);
    background-position: center;
    background-repeat: no-repeat;
    
}



.roster1 h1{
   
    margin:0;
    font-size: 8em!important;
    margin-left: 35%;
   padding-top: 5%;
    color: white;
    text-align: center;
}
.roster1 h1:hover{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.roster1 p{
   
    opacity: 0;
    
}
.roster2{
    position: absolute;
    left: 0px;  
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 2;
}
.roster2:hover{
    opacity: 0;
    z-index: 2;
}
.roster2 h2{
    opacity: 0;
    padding-left: 10px;
    color: white;
    
}
.roster2 h2:hover::after{
    opacity: none;
    z-index: 3;
    opacity: none!important;
    
}